<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let user of users">
    <ion-thumbnail slot="start">
      <img src="{{user.avatar}}">
    </ion-thumbnail>

    <ion-label>
      <div>
        <h3>{{ user.first_name | titlecase }}</h3>
        <h3>{{user.last_name | uppercase}}</h3>
        <h3>{{user.email | uppercase}}</h3>
      </div>
    </ion-label>
  </ion-item>


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
